.navigation-bar{
    width: 0;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #B8B8FF;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    z-index: 1;
    border: 1px solid #000;
    border-top: 0;
    border-bottom: 0;
}
.button-close{
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    border: 1px solid #000;



}
.navigation-bar.visible{
    width: 250px;
}
.button-menu{
    width: 30px;
    height: 30px;
    transition: transform 0.3s ease-in-out;
    background-color: green;
}
.option{
    border: 0 solid #fff;
    font-size: 32px;
    font-family: Calibri;
    left: 5px;
    flex-wrap: nowrap;


}
.option:hover{
    background-color: #9381FF;
    color: #000;
    border: 0 solid #000;
    border-radius: 5px;
    padding: 5px;
    cursor: pointer;
    transition: 0.3s;
}
.list-options{
    display: flex;
    flex-direction: column;
    margin-top: 100px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
}

